body {
    margin: 40px auto auto auto;
    background: #1C1C1C;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    text-align: center;
    width: 550px;
    height: 730px;
}

#title {
    font-weight: 800;
    font-size: 28px;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 285px;
    background: #6943FF;
}

.conversion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 444px;
    background: #1F2937;
}

#number {
    margin-top: 15px;
    border: 1px solid #B295FF;
    width: 110px;
    height: 80px;
    border-radius: 5px;
    background: inherit;
    font-size: 58px;
    font-weight: 800;
    font-family: inherit;
    color: inherit;
    padding: 0;
    text-align: inherit;
    outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

button {
    margin-top: 25px;
    margin-bottom: 30px;
    padding: 9px 27px;
    background: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-family: inherit;
    color: #3D3D3D;
}

.conversion-block {
    width: 500px;
    background: #273549;
    padding-top: 19px;
    padding-bottom: 19px;
}

.converted-values {
    font-size: 14px;
    font-weight: 400;
}

a {
    border: 1px solid #6943FF;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    box-shadow: 0 0 5px #6943FF;
}

i {
    margin-left: 5px;
}

.github {
    margin-top: 40px;
}
